.box4 {
  display: none;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  /*min-height: 6.67rem;*/
  background: url(../images/box4_bg.png) top left no-repeat;
  background-size: 100% auto;
  font-family: Georgia, serif; }
  .box4 .box4_top {
    padding-top: 0.4rem;
    font-weight: bold; }
    .box4 .box4_top p {
      text-align: center;
      line-height: 1.75;
      color: #000; }
    .box4 .box4_top .block span {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      font-size: 0.24rem;
      width: 0.66rem;
      height: 0.54rem;
      line-height: 0.54rem;
      background: #ddd;
      margin: 0 0.05rem;
      background: url(../images/box4_shuimo.png) center no-repeat;
      background-size: 100% auto; }
  .box4 .box4_ren img {
    transition: all linear;
    position: relative;
    animation: boxRenMove 12s infinite linear; }
@keyframes boxRenMove {
  0% {
    transform: scale(1);
    transform: translate(0px, 0px); }
  25% {
    transform: scale(0.95);
    transform: translate(0px, -8px); }
  75% {
    transform: scale(0.95);
    transform: translate(0px, 8px); }
  100% {
    transform: scale(1);
    transform: translate(0px, 0px); } }
  .box4 .box4_book {
    position: absolute;
    bottom: 0.2rem;
    height: 1.5rem;
    left: 0;
    right: 0; }
    .box4 .box4_book .on-up {
      animation: box4BookUp 1.5s infinite linear; }
@keyframes box4BookUp {
  0%,100% {
    transform: translate(0px, 0px); }
  50% {
    transform: translate(0px, -15px); } }
    .box4 .box4_book .box4_book-item {
      position: absolute;
      transition: all 300ms; }
      .box4 .box4_book .box4_book-item:nth-child(1) {
        width: 1.09rem;
        height: 1.35rem;
        left: 0.385rem;
        bottom: 0rem;
        background: url(../images/book/book1_on.png) center no-repeat;
        background-size: 100% auto; }
        .box4 .box4_book .box4_book-item:nth-child(1) span {
          transform: rotate(-15deg);
          top: 0.15rem;
          width: 0.68rem;
          height: 1.06rem; }
        .box4 .box4_book .box4_book-item:nth-child(1).no_on {
          background: url(../images/book/book1.png) center no-repeat;
          background-size: 100% auto; }
      .box4 .box4_book .box4_book-item:nth-child(2) {
        width: 0.87rem;
        height: 1.2rem;
        left: 1.1rem;
        bottom: 0.14rem;
        background: url(../images/book/book2_on.png) center no-repeat;
        background-size: 100% auto; }
        .box4 .box4_book .box4_book-item:nth-child(2) span {
          transform: rotate(2deg);
          top: 0.05rem;
          width: 0.68rem;
          height: 1.06rem; }
        .box4 .box4_book .box4_book-item:nth-child(2).no_on {
          background: url(../images/book/book2.png) center no-repeat;
          background-size: 100% auto; }
      .box4 .box4_book .box4_book-item:nth-child(3) {
        width: 1.06rem;
        height: 1.32rem;
        left: 1.62rem;
        bottom: 0.1rem;
        background: url(../images/book/book3_on.png) center no-repeat;
        background-size: 100% auto; }
        .box4 .box4_book .box4_book-item:nth-child(3) span {
          transform: rotate(16deg);
          top: 0.15rem;
          width: 0.68rem;
          height: 0.99rem; }
        .box4 .box4_book .box4_book-item:nth-child(3).no_on {
          background: url(../images/book/book3.png) center no-repeat;
          background-size: 100% auto; }
      .box4 .box4_book .box4_book-item:nth-child(4) {
        width: 1.26rem;
        height: 1.4rem;
        left: 2.1rem;
        bottom: -0.05rem;
        background: url(../images/book/book4_on.png) center no-repeat;
        background-size: 100% auto; }
        .box4 .box4_book .box4_book-item:nth-child(4) span {
          transform: rotate(30deg);
          top: 0.2rem;
          width: 0.68rem;
          height: 0.99rem; }
        .box4 .box4_book .box4_book-item:nth-child(4).no_on {
          background: url(../images/book/book4.png) center no-repeat;
          background-size: 100% auto; }
      .box4 .box4_book .box4_book-item.active {
        transform: translate(0px, -0.2rem); }
      .box4 .box4_book .box4_book-item span {
        position: relative;
        z-index: 33;
        display: inline-block;
        width: 0.57rem;
        height: 1.09rem;
        vertical-align: top; }
  .box4 .modal {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 4.2rem;
    padding: 0.23rem 0.145rem; }
    .box4 .modal:before {
      content: '';
      display: block;
      position: absolute;
      left: 0.145rem;
      right: 0.145rem;
      bottom: 0.23rem;
      top: 0.23rem;
      border: solid 2px #2c2c2c;
      background-color: #f4f1f0; }
    .box4 .modal .modal_content {
      position: relative;
      z-index: 33;
      width: calc(100% - 0.1rem);
      height: calc(100% - 0.1rem);
      top: 0.05rem;
      left: 0.05rem;
      border: solid 2px #2c2c2c;
      background-color: #f4f1f0;
      overflow: hidden; }
      .box4 .modal .modal_content img {
        display: none; }
        .box4 .modal .modal_content img.active {
          display: block; }
    .box4 .modal .icon_close {
      position: absolute;
      display: inline-block;
      width: 0.3rem;
      height: 0.3rem;
      right: 0.065rem;
      top: 0.16rem;
      z-index: 50;
      background: url(../images/icon_close.png) top left no-repeat;
      background-size: 100% 100%; }
    .box4 .modal .icon_radio_1 {
      position: absolute;
      display: inline-block;
      width: 0.3rem;
      height: 0.3rem;
      left: 0.065rem;
      top: 0.14rem;
      z-index: 50;
      background: url(../images/box_radio_1.png) top left no-repeat;
      background-size: 100% 100%; }
    .box4 .modal .icon_radio_3 {
      position: absolute;
      display: inline-block;
      width: 0.3rem;
      height: 0.3rem;
      right: 0.065rem;
      bottom: 0.16rem;
      z-index: 50;
      background: url(../images/box_radio_3.png) top left no-repeat;
      background-size: 100% 100%; }
    .box4 .modal .icon_radio_4 {
      position: absolute;
      display: inline-block;
      width: 0.3rem;
      height: 0.3rem;
      left: 0.065rem;
      bottom: 0.16rem;
      z-index: 50;
      background: url(../images/box_radio_4.png) top left no-repeat;
      background-size: 100% 100%; }
    .box4 .modal .modal_btnleft, .box4 .modal .modal_btnright {
      display: inline-block;
      position: absolute;
      z-index: 50;
      bottom: -0.3rem;
      width: 1.6rem;
      height: 0.43rem;
      line-height: 0.43rem;
      border: solid 2px #2c2c2c;
      background-color: #f4f1f0;
      font-size: 0.14rem;
      font-weight: bold;
      color: #000;
      text-align: center; }
      .box4 .modal .modal_btnleft em, .box4 .modal .modal_btnright em {
        font-style: normal; }
    .box4 .modal .modal_btnleft {
      left: 0.145rem; }
    .box4 .modal .modal_btnright {
      right: 0.145rem; }
  .box4 .box4_nextBtn {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    bottom: 0.05rem;
    right: 0.05rem;
    width: 0.7rem;
    height: 0.4rem;
    background: url(../images/icon_nextpage.png) center no-repeat;
    background-size: 100% auto; }
  .box4 .f20 {
    font-size: 0.2rem; }
  .box4 .f24 {
    font-size: 0.24rem; }

.dis-none {
  display: none !important; }

.box_visit {
  display: block !important;
  animation: right 1s; }

@keyframes right {
  0% {
    transform: translateX(100px); }
  100% {
    transform: translateX(0px); } }
.box4_transition {
  display: none;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  /* min-height: 6.67rem; */
  background: url(../images/box5/box5_bg.jpg) top left no-repeat;
  background-size: 100% auto;
  font-family: Georgia, serif; }
  .box4_transition .box4_trans-tit {
    margin-top: 35%;
    width: 74%;
    margin-left: 13%; }
    .box4_transition .box4_trans-tit img:nth-child(2) {
      width: 74%;
      left: 13%;
      margin-top: .4rem; }
  .box4_transition .box4Trans_nextBtn {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    bottom: 0.05rem;
    right: 0.05rem;
    width: 0.7rem;
    height: 0.4rem;
    background: url(../images/icon_nextpage.png) center no-repeat;
    background-size: 100% auto; }

.box5 {
  display: none;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: url(../images/box5/box5_bg.jpg) top left no-repeat;
  background-size: 100% auto;
  font-family: Georgia, serif; }
  .box5 .box5_item {
    display: none; }
    .box5 .box5_item .box5_item-word {
      position: relative;
      z-index: 50;
      padding-top: 0.69rem; }
      .box5 .box5_item .box5_item-word img {
        height: 1.06rem;
        width: auto;
        margin: 0 auto; }
    .box5 .box5_item .box5_item-ren {
      position: absolute;
      z-index: 20;
      top: 2rem;
      left: 0;
      right: 0; }
    .box5 .box5_item.active {
      display: block; }
    .box5 .box5_item .box5_item-huazhi {
      position: absolute;
      z-index: 40;
      right: 0;
      top: 0;
      text-align: right; }
      .box5 .box5_item .box5_item-huazhi img {
        width: 50%;
        height: auto; }
    .box5 .box5_item .box5_item-huaban {
      position: absolute;
      z-index: 30;
      right: 0;
      top: 0.4rem; }
    .box5 .box5_item:nth-child(2) .box5_item-ren {
      bottom: 1rem; }
    .box5 .box5_item:nth-child(3) .box5_item-ren {
      width: 88%; }
  .box5 .box5_nextBtn, .box5 .box5_preBtn {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    z-index: 100;
    bottom: 0.05rem;
    width: 0.7rem;
    height: 0.4rem; }
  .box5 .box5_nextBtn {
    background: url(../images/icon_nextpage.png) center no-repeat;
    background-size: 100% auto;
    right: 0.05rem; }
  .box5 .box5_preBtn {
    background: url(../images/icon_prepage.png) center no-repeat;
    background-size: 100% auto;
    left: 0.05rem; }

.box5_transition {
  display: none;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  /* min-height: 6.67rem; */
  background: url(../images/box5/box5_bg.jpg) top left no-repeat;
  background-size: 100% auto;
  font-family: Georgia, serif; }
  .box5_transition > div {
    border: 1px solid #3f3e3a;
    background: #efe4d3;
    padding: 3px;
    width: 90%;
    margin: 30% 5% 0 5%; }
  .box5_transition .box5_trans-tip .box5_trans-bg {
    border: 1px solid #3f3e3a;
    background: #f7f7f7;
    position: relative;
    height: 2.07rem;
    padding: .4rem .2rem .1rem .2rem; }
    .box5_transition .box5_trans-tip .box5_trans-bg h2 {
      font-size: .26rem;
      text-align: center; }
    .box5_transition .box5_trans-tip .box5_trans-bg h3 {
      font-size: .2rem;
      text-align: center;
      margin-top: .2rem; }
    .box5_transition .box5_trans-tip .box5_trans-bg > div {
      padding: .15rem 0;
      overflow: hidden; }
    .box5_transition .box5_trans-tip .box5_trans-bg a {
      width: 44%;
      float: left;
      margin-left: 10%; }
    .box5_transition .box5_trans-tip .box5_trans-bg a:nth-child(1) {
      margin-left: 0;
      background: #fff !important; }
      .box5_transition .box5_trans-tip .box5_trans-bg a:nth-child(1) img {
        display: none; }
    .box5_transition .box5_trans-tip .box5_trans-bg p {
      margin-top: .2rem;
      font-size: .2rem;
      text-align: center;
      line-height: 2;
      font-weight: bold;
      margin-bottom: .25rem; }

.subBtn {
  display: block;
  text-decoration: none;
  margin-top: .15rem;
  font-size: 0.17rem;
  font-weight: bold;
  text-align: center;
  line-height: .42rem;
  color: #3f3e3a;
  height: .42rem;
  border: solid 1px #3f3e3a;
  background: url("../images/box6/b6log.png") no-repeat #cfb998;
  background-size: .15rem auto;
  background-position: left bottom;
  position: relative; }
  .subBtn img {
    position: absolute;
    width: .15rem;
    height: .15rem;
    right: 0;
    transform: rotate(180deg); }

/*# sourceMappingURL=box4.css.map */
