@charset "utf-8";
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background: #e9eaec;
	font-family: Georgia, serif;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
	text-align: center;
}
.view{
	background: #e9eaec;
	-webkit-overflow-scrolling : touch; 
	overflow: auto;
	overflow-x: hidden;
	font-size: 0rem;
	max-width: 750px;
}

.wow{
	visibility: hidden;
}



